/* 
    Document   : main
    Created on : Sep 16, 2011, 1:20:44 PM
    Author     : Fernando
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
    font-family: Arial,Helvetica,sans-serif;
}


#areachat{
    width:544px;
    height:300px;
    background:#f4f4f2;
    overflow: auto;
    border:1px solid #cccccc;
}

#areachat li{
    display:block;
}

#areachat li #fecha{
    color:#cccccc;
    font-style:italic;
    font-size:.9em;
}

