<html>
    <head>
        <title><?=$title?></title>
        <?php
        //para dar salida de los tags de los javascripts pro defecto
        include(Config::$directories['views'] . "jscripts.html");
        //para dar salida de los tags de los css por defecto
        include(Config::$directories['views'] . "css.html");
        ?>
    </head>
    <body>
        <h1>Chat</h1>
        <div>
            <li><strong><a href="" class="lnkUser">Usuario1</a> dice:</strong> Hola</li>
        </div>
        <textarea name="inputChat" id="inputChat" >

        </textarea>
    </body>
</html>