<html>
    <head>
        <title><?=$title?></title>
        <?php
        //para dar salida de los tags de los javascripts pro defecto
        include(Config::$directories['views'] . "jscripts.html");
        //para dar salida de los tags de los css por defecto
        include(Config::$directories['views'] . "css.html");
        ?>
    </head>
    <body>
        <h1>Chat</h1>
        <div id="areachat">
          
        </div>
        <br/>
        <textarea name="inputChat" id="inputChat" rows="4"" cols="50"></textarea>
        <input type="button" name="submitChat" id="submitChat" value="Enviar mensaje" />
        
    </body>
</html>