<html>
    <head>
        <title><?=$title?></title>
        <?php
        //para dar salida de los tags de los javascripts pro defecto
        include(Config::$directories['views'] . "jscripts.html");
        //para dar salida de los tags de los css por defecto
        include(Config::$directories['views'] . "css.html");
        ?>
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <?=$header?>
            </div>
            <div id="content">
            <h2>Chat</h2>
            <div id="areachat"></div>
            <br/>
            <textarea name="inputChat" id="inputChat" rows="4"" cols="50"></textarea>
            <input type="button" name="submitChat" id="submitChat" value="Enviar mensaje" />
            </div>
        </div>
    </body>
</html>